<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.15/tailwind.min.css" integrity="sha512-SwsmRz5W8gC1tBUOZtJvLx+3qX0CUfn+vtWygoGckf7l3asqJ3E7ZQ26IplujBxRfzJX9F7fY+50UuOb7KQGqw==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<div class="bg-white p-2 flex flex-col mx-auto justify-center text-[#500000] w-5/6 drop-shadow-xl rounded mx-auto my-4 bg-gray-100">
  <div class="w-4/5 my-2 py-2 mx-auto text-center border-2 border-dashed border-gray-400 rounded font-source-serif-pro text-[1.5rem] text-[#500000] font-bold">
    <h1>Students</h1>
  </div>
  <table class="rounded mx-auto w-5/6 mt-2 mb-6 table table-striped table-hover text-center">
    <thead>
      <tr>
        <th class="font-source-serif-pro" colspan="3">
          Course(s)/Semester(s): <br>
          <%= form_with(method: "get") do |f| %>
          <% selected_course = nil%>
          <%= f.select("selected_course", @course_names, {:include_blank => true}, {class: "mt-2 mb-2 rounded", :onchange => "selected_course=this.value;"}) %>

          <% selected_semester = nil%>
          <%= f.select("selected_semester", @semesters, {:include_blank => true}, {class: "mt-2 mb-2  rounded", :onchange => "selected_semester=this.value;"}) %>
        </th>
        <th class="font-source-serif-pro" colspan="3">
          Tags:
          <% selected_tag = nil%> <br>
          <%= f.select("selected_tag", @tags, {:include_blank => true}, {class: "mt-2  mb-2 rounded", :onchange => "selected_tag=this.value;"}) %>
        </th>
      </tr>
      <tr class = "font-source-serif-pro">
        <th colspan="3">
          <%= f.submit "Filter Students List", class: "cursor-pointer hover:underline hover:underline-offset-4 py-1 px-3 mb-[1rem] border-2 rounded border-dotted border-[#500000]"%>
          <% end %>
        </th>
        <th colspan="3">
          <%= form_with(url: students_path, method: :get, local: true) do |f| %>
          <%= f.hidden_field :yearbook_style, value: !@yearbook_style %>
          <%= f.submit @yearbook_style ? "List View" : "Yearbook View", class: "cursor-pointer hover:underline hover:underline-offset-4 py-1 px-3 mb-[1rem] border-2 rounded border-dotted border-[#500000]" %>
          <% end %>
        </th>
      </tr>
    
    <% if !@yearbook_style %>
      <tr class="bg-slate-400 font-medium font-source-serif-pro">
        <th class="rounded-tl-lg px-auto py-2"> Image </th>
        <th class="border-l-[0.05rem] border-r-[0.05rem] px-auto py-2"> Name </th>
        <th class="border-l-[0.05rem] border-r-[0.05rem] px-auto py-2"> Email </th>
        <th class="border-l-[0.05rem] border-r-[0.05rem] px-auto py-2"> Course(s)/Semester(s): </th>
        <th class="border-l-[0.05rem] border-r-[0.05rem] px-auto py-2"> Tags </th>
        <th class="rounded-tr-lg px-auto py-2"> View Student Profile: </th>
      </tr>
    <%end%>
    </thead>

    <tbody class="rounded font-source-serif-pro border"id="students">
    <% if !@yearbook_style %>
      <div>
        <% @students.each do |student| %>
          <tr class="even:bg-white odd:bg-gray-100 hover:bg-gray-200">
            <td>
              <% if student.records[0].image.attached? %>
                  <%= image_tag student.records[0].image.variant(:thumb), class: 'py-4 bi bi-person rounded-circle d-block mx-auto', style: 'max-width: 4rem;' %>
              <% else %>
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person rounded-circle" viewBox="0 0 16 16">
                      <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                  </svg>
              <% end %>
            </td>
            <td>
              <%= student.records[0].lastname %>, <%= student.records[0].firstname %>
            </td>
            <td>
              <%= student.records[0].email %>
            </td>
            <td>
              <%= student.course_semester.to_a.join(", ") %>
            </td>
            <td>
              <% if StudentsTag.where(student_id: student.records[0].id).length == 0 %>
                  None
              <% else %>
                  <% tag_display_array = [] %>
                  <% StudentsTag.where(student_id: student.records[0].id).each do |association| %>
                      <% tag_display_array.append(Tag.where(id: association.tag_id)[0].tag_name) %>
                  <% end %>
                  <%= tag_display_array.join(", ") %>
              <% end %>
            </td>
            <td>
              <%= button_to "Show this student", student.records[0], :method => :get, class: "hover:underline hover:underline-offset-4"%>
            </td>
          </tr>
        <% end %>
      </div>
    <% end %>
  </table>



    <% if @yearbook_style %>

    <div id="yearbookstyle" class="mx-auto grid grid-cols-3 gap-2">
    <% @students.each do |student| %>
      <div class="text-center m-2 font-source-serif-pro bg-[#DBABAB] rounded">
          <% if student.records[0].image.attached? %>
              <%= image_tag student.records[0].image.variant(:thumb), class: 'bi bi-person square d-block mx-auto py-4 px-4', style: 'max-width: 12rem;' %>
          <% else %>
              <svg xmlns="http://www.w3.org/2000/svg" width="12rem" height="12rem" class="bi bi-person rounded-square" viewBox="0 0 16 16">
                  <rect width="100%" height="100%" fill="gray" />
                  <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
              </svg>
              <div></div>
          <% end %>
          <%= student.records[0].lastname %>, <%= student.records[0].firstname %>
          <%= button_to "Show this student", student.records[0], :method => :get, class: "mb-2 hover:underline hover:underline-offset-4 hover:cursor-pointer"%>
      </div>
    <% end %>
    </div>
    <br>
    <% end %>
</div>

<footer class="flex justify-center hd footer mt-auto text-center mb-6">
  <div class="font-source-serif-pro font-semibold hover:bg-gray-300 text-[#500000] text-[1rem] container w-auto hover:underline hover:underline-offset-4 py-1 px-3 border-2 rounded border-dotted border-[#500000]">
    <span><%= button_to "New student", new_student_path, :method => :get %></span>
  </div>
</footer>